<section class="d-flex flex-column align-items-center mt-3">
    <%@inventories.each do |inventory|%>
        <div class="d-flex w-75 border mb-2 justify-content-around">
            <div class="d-flex flex-column mb-2">
                <h2><%=inventory.name%></h2>
                <%= button_to "Remove", delete_inventory_path(inventory_id: inventory.id), method: :delete, data: {
turbolinks: false,
},html: {class: "btn"} %>
            </div>
            <div>
                <%=inventory.description%>
            </div>
        </div>
    <%end%>
</section>