<div class="d-flex flex-column mb-2 align-items-center mx-auto w-50">
  <div class="d-flex mb-2">
    <h2 class="mx-3"><%= @inventory.name %></h1>
  </div>
  <button class= "btn btn-outline-success align-self-end">Add Food</button>
  <table class="table table-striped mt-3">
    <thead>
    <tr>
      <th scope="col" class="">Food</th>
      <th scope="col" class="">Quantity</th>
      <th scope="col" class="">Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @inventory.inventory_foods.each do |inventory_food| %>
      <tr>
        <td class=""><%= inventory_food.food.name %></td>
        <td class=""><%= "#{inventory_food.quantity} #{inventory_food.food.measurement_unit}" %></td>
        <td class="">
          <button class= "btn">Remove</button>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
