<div class="d-flex flex-column mb-2 align-items-center">
  <h1 class="m-3 text-success">New food</h1>

  <%= render "form", food: @food %>

  <%= link_to 'Back to foods', foods_path, class: "rounded-lg py-3 bg-gray-100 inline-block font-medium text-success" %>
</div>
